<!-- Main content -->
<div class="projects-horizontal">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Projects </h2>
            <p class="text-center">These are someof myprojects that i have been teaching myself. I love learning new
                technnologies. I encourage everyone who has a passion for code to follow it. Enjoy!</p>
        </div>
        <div class="row projects">
            <div class="col-sm-6 item">
                <div class="row">
                    <div class="col-md-12 col-lg-5"><a href="#"><img class="img-fluid" src="../images/desk.jpg"></a></div>
                    <div class="col">
                        <h3 class="name">Django framework.</h3>
                        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus.
                            Praesent aliquam in tellus eu gravida.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 item">
                <div class="row">
                    <div class="col-md-12 col-lg-5"><a href="#"><img class="img-fluid" src="../images/building.jpg"></a></div>
                    <div class="col">
                        <h3 class="name">Learning NodeJs.</h3>
                        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus.
                            Praesent aliquam in tellus eu gravida.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 item">
                <div class="row">
                    <div class="col-md-12 col-lg-5"><a href="#"><img class="img-fluid" src="../images/loft.jpg"></a></div>
                    <div class="col">
                        <h3 class="name">My Angular app</h3>
                        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus.
                            Praesent aliquam in tellus eu gravida.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Highlight -->
<div class="highlight-clean">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Wanna know me?</h2>
            <p class="text-center"><br>I am a young developer. I have tought myself serveral technologies These stuff
                on my page are some of my projects. I love code and hope you do too. Follow me on my social website.
                Have a nice time.The dislike button does'nt work by
                the way. ooops! 😉<br><br></p>
        </div>
        <div class="buttons"><a class="btn btn-primary" role="button" id="like">Like</a><button class="btn btn-danger text-center text-dark"
                type="button" disabled="disabled">Dislike</button></div>
    </div>
</div>

<!-- Social icons -->
<div class="social-icons"><a href="#"><i class="fa fa-facebook" data-bs-hover-animate="wobble"></i></a><a href="#"><i
            class="fa fa-twitter" data-bs-hover-animate="wobble"></i></a><a href="https://wa.me/<070098575865> "><i
            class="fa fa-whatsapp" data-bs-hover-animate="wobble"></i></a><a href="https://github.com/MasoudMusa?tab=respositories"><i
            class="fa fa-github" data-bs-hover-animate="wobble"></i></a></div>