<div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>Services</h3>
                    <ul>
                        <li><a href="#">Development</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>About</h3>
                    <ul>
                        <li><a href="#">Company</a></li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3>Masoud</h3>
                    <p>I am a young developer. I have tought myself serveral technologies These stuff on my page are
                        some of my projects. I love code and hope you do too. Follow me on my social website. Have a
                        nice time.</p>
                </div>
            </div>
            <p class="copyright">Masoud© 2017</p>
        </div>
    </footer>
</div>